<form [formGroup]="resetForm"  #resetNgForm="ngForm" (ngSubmit)="onSubmitEvent(resetForm, resetNgForm)" class="form-container">
  <mat-error *ngIf="error">
    {{ error }}
  </mat-error>
  <div fxLayout="column" fxLayoutAlign="center" class="container" fxLayoutGap="20px">

    <mat-form-field>
      <mat-label>Contraseña actual</mat-label>
      <input  matInput formControlName="oldPassword" [type]="hideOldPassword ? 'password' : 'text'" autocomplete="off">
      <button type="button" mat-icon-button matSuffix (click)="hideOldPassword = !hideOldPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideOldPassword">
        <mat-icon>{{hideOldPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>

      <mat-error *ngIf="oldPassword.errors?.required">
        Contraseña actual es requerida
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Nueva contraseña</mat-label>
      <input  matInput formControlName="newPassword" [type]="hideNewPassword ? 'password' : 'text'" autocomplete="off">
      <button type="button" mat-icon-button matSuffix (click)="hideNewPassword = !hideNewPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideNewPassword">
        <mat-icon>{{hideNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>

      <mat-error *ngIf="newPassword.errors?.required">
        Contraseña nueva es requerida
      </mat-error>

      <mat-error *ngIf="newPassword.errors?.minlength">
        Contraseña nueva debe contener almenos {{newPassword.errors.minlength.requiredLength}} caracteres
      </mat-error>
    </mat-form-field>

    <div fxLayout="row" fxLayoutAlign="center">
      <div fxLayout="row" fxLayoutGap="10px" fxFlex="100%" *ngIf="!showSubmit">
        <button mat-raised-button fxFlex="50%" type="button" (click)="backClicked()">Volver</button>

        <button mat-raised-button color="primary" type="submit" fxFlex="50%">
          Cambiar contraseña
        </button>
      </div>

      <mat-spinner [color]="spinnerColor" [diameter]="spinnerDiameter" *ngIf="showSubmit"></mat-spinner>
    </div>




  </div>
</form>
