<form [formGroup]="resetForm"  #resetNgForm="ngForm" (ngSubmit)="onSubmitEvent(resetForm, resetNgForm)" class="form-container">
  <mat-error *ngIf="error">
    {{ error }}
  </mat-error>
  <div fxLayout="column" fxLayoutAlign="center" class="container" fxLayoutGap="20px">

    <mat-form-field>
      <mat-label>Contraseña actual</mat-label>
      <input  matInput formControlName="oldPassword" [type]="hideOldPassword ? 'password' : 'text'" autocomplete="off">
      <button type="button" mat-icon-button matSuffix (click)="hideOldPassword = !hideOldPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideOldPassword">
        <mat-icon>{{hideOldPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>

      <mat-error *ngIf="oldPassword.errors?.required">
        Contraseña actual es requerida
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Nueva contraseña</mat-label>
      <input  matInput formControlName="newPassword" [type]="hideNewPassword ? 'password' : 'text'" autocomplete="off">
      <button type="button" mat-icon-button matSuffix (click)="hideNewPassword = !hideNewPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideNewPassword">
        <mat-icon>{{hideNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>

      <mat-error *ngIf="newPassword.errors?.required">
        Contraseña nueva es requerida
      </mat-error>

      <mat-error *ngIf="newPassword.errors?.minlength">
        Contraseña nueva debe contener almenos {{newPassword.errors.minlength.requiredLength}} caracteres
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">
      <span *ngIf="!isLoading"> Cambiar contraseña </span>
      <div *ngIf="isLoading" class="spinner-container" fxLayout="column" fxLayoutAlign="center center">
        <mat-spinner [diameter]="30"  [color]="spinnerColor"></mat-spinner>
      </div>

    </button>
  </div>
</form>
