<h3 mat-dialog-title><mat-icon>info</mat-icon>  Leer importante</h3>
<div mat-dialog-content>
  <h3>Estimadxs profesionales de la Medicina y de la Farmacia:</h3>
  <p>
    Aquellxs que están habilitadxs para ejercer su profesión en la provincia de Neuquén deben registrarse en esta plataforma para prescribir (en el caso de lxs médicxs) y dispensar (en el caso de lxs farmacéuticos) los medicamentos que integran las listas de psicotrópicos o sustancias riesgosas y de venta exclusiva bajo receta archivada (duplicados). Los registros en esta plataforma son documentos de valor legal que se ajustan a las leyes vigentes y al marco normativo dispuesto para la actual emergencia sanitaria
  </p>
  <h3>Tener presente que:</h3>
  <p>
    <strong>RecetAR</strong> es un sustituto temporal de los duplicados que las farmacias deben archivar y asentar en los libros sujetos a fiscalización para los programas de gestión de riesgos de medicamentos controlados.
  </p>
  <p>
    <strong>NO</strong> reemplaza a las prescripciones originales, que siguen respetando los acuerdos existentes entre los financiadores y las farmacias, pero por las disposiciones nacionales para facilitar el aislamiento durante la emergencia, deben disponer o aceptar medios electrónicos para su transmisión y facturación.
  </p>
  <h3>Si es su primer acceso</h3>
  <p>
    Lo primero que debe hacer es cambiar la contraseña con la que fue habilitado su usuario. Recuerde que la misma constituye una clave de validación signataria, es decir, que Ud debe proteger la seguridad de la misma y no compartirla con ninguna persona, ya que mediante su uso se valida el origen de la prescripción. Los niveles de seguridad informática de la plataforma satisfacen los requisitos legales para la protección de datos personales, pero el cuidado de la clave personal es responsabilidad de cada profesional.
  </p>
  <h3>Si se presentan dudas o dificultades en el uso de la plataforma:</h3>
  <p>
    No dude en comunicarse en forma inmediata con la mesa de soporte, enviando un correo electrónico a: recetarsalud@neuquen.gov.ar
  </p>
  <p>
    Si considera que existen errores o faltantes en el listado de medicamentos que deben prescribirse bajo receta archivada, también sugerimos comunicarlo a esa misma dirección electrónica.
  </p>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()" cdkFocusInitial>Aceptar</button>
</div>