.container
  width: 60%
  max-width: 800px
  margin: 30px auto 0px

.mat-form-field, button
  margin: 10px 0

.patient-container, .nested-supplies
  mat-form-field
    width: 100%
    button[type="button"]
      margin: 0

.sub-container
  width: 100%

.custom-error-container
  position: relative

  mat-error
    position: relative
    font-size: 75%
    animation-name: error-show
    animation-duration: .3s
    top: calc(100% - 1.7916666667em)


@keyframes error-show
  from
    transform: translateY(-100%)
    opacity: 0

  to
    transform: translateY(0%)
    opacity: 1


