<div class="container">
  <mat-card>
    <form [formGroup]="professionalForm" (ngSubmit)="onSubmitProfessionalForm()">
      <div fxFlex="100" fxLayout="column" fxLayoutAlign="center">
        <h1>
          Registrar nueva receta
        </h1>

        <!-- Fecha de receta -->
        <mat-form-field appearance="fill">
          <mat-label>Fecha receta</mat-label>
          <input matInput [matDatepicker]="picker1" [formControl]="date">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>

        <!-- Dni del paciente -->
        <mat-form-field appearance="fill">
          <mat-label>DNI paciente</mat-label>
          <input type="text"
            cdkFocusInitial
            placeholder="DNI"
            aria-label="Number"
            matInput
            maxlength="8"
            formControlName="patient_dni"
            [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option (onSelectionChange)="completePatientInputs(patient)" *ngIf="patient" [value]="patient">
              {{patient.lastName}} {{patient.firstName}} DNI {{patient.dni}}
            </mat-option>
          </mat-autocomplete>
          <mat-hint align="end">{{patient_dni.value.length}} / 8</mat-hint>
          <mat-error *ngIf="patient_dni.errors?.required && patient_dni.touched">
            Debe ingresar el dni del paciente
          </mat-error>

          <mat-error *ngIf="patient_dni.errors?.minlength && patient_dni.touched">
            Debe ingresar 8 digitos
          </mat-error>
        </mat-form-field>

        <!-- Apellido del paciente -->
        <mat-form-field appearance="fill">
          <mat-label>Apellido paciente</mat-label>
          <input type="text"
            placeholder="Apellido"
            matInput
            formControlName="patient_last_name">

          <mat-autocomplete #auto="matAutocomplete">
            <mat-option (onSelectionChange)="completePatientInputs(patient)" *ngIf="patient" [value]="patient.lastName">
              {{patient.lastName}}
            </mat-option>
          </mat-autocomplete>

          <mat-error *ngIf="patient_last_name.errors?.required && patient_last_name.touched">
            Debe ingresar el apellido del paciente
          </mat-error>
        </mat-form-field>

        <!-- Nombre del paciente -->
        <mat-form-field appearance="fill">
          <mat-label>Nombre paciente</mat-label>
          <input type="text"
            placeholder="Nombre"
            matInput
            formControlName="patient_first_name">

          <mat-autocomplete #auto="matAutocomplete">
            <mat-option (onSelectionChange)="completePatientInputs(patient)" *ngIf="patient" [value]="patient.firstName">
              {{patient.firstName}}
            </mat-option>
          </mat-autocomplete>

          <mat-error *ngIf="patient_first_name.errors?.required && patient_first_name.touched">
            Debe ingresar el nombre del paciente
          </mat-error>
        </mat-form-field>

        <!-- Sexo del paciente -->
        <mat-form-field appearance="fill">
          <mat-label>Sexo</mat-label>
          <mat-select formControlName="patient_sex">
            <mat-option value="Femenino">Femenino</mat-option>
            <mat-option value="Masculino">Masculino</mat-option>
            <mat-option value="Otro">Otro</mat-option>
          </mat-select>
        </mat-form-field>
        
        <!-- <mat-form-field appearance="fill">
          <mat-label>Medicamento</mat-label>
          <input type="text"
                  placeholder="Medicamento"
                  aria-label="Number"
                  matInput
                  formControlName="supply"
                  [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of drugs" [value]="option.term">
              {{option.term}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field> -->

        <button mat-raised-button color="primary" type="submit">
          Crear
        </button>
      </div>
    </form>
  </mat-card>
</div>
