// component selector
@import 'styles/_variables'

$panels-height: 294px
$panels-height-xl: 325px

:host
    display: block
    width: 100%
    height: 100%

.cards-container
    @media (min-width: $x-small-devices) and (max-width: $small-devices)
        flex-direction: column!important
        .welcome-panel
            order: 2
        .form-panel
            order: 1
        .tutorials-panel
            order: 3

    .welcome-panel, .form-panel, .tutorials-panel
        width: calc(100% / 3)
        mat-card
            box-sizing: content-box!important
            height: calc(#{$panels-height} - 32px)
            @media (min-width: $larger-devices) and (max-width: $x-larger-devices)
                height: calc(#{$panels-height-xl} - 32px)

            @media (min-width: $x-small-devices) and (max-width: $larger-devices)
                height: auto
            mat-card-title, mat-card-content
                margin: 0!important
                .login-action
                    margin-top: 20px
                    @media (min-width: $larger-devices) and (max-width: $x-larger-devices)
                        margin-top: 40px

                @media (min-width: $larger-devices) and (max-width: $xx-larger-devices)
                    .login-error
                        margin-bottom: -15px!important

            mat-card-actions
                padding: 0!important
                margin: 0!important
                @media (min-width: $x-small-devices) and (max-width: $larger-devices)
                    flex-direction: column!important
                    a.btn-link
                        max-width: 100%!important
                        margin: 10px 0!important

        @media (min-width: $medium-devices) and (max-width: $larger-devices)
            width: 310px
        @media (min-width: $small-devices) and (max-width: $medium-devices)
            width: 310px
        @media (min-width: $x-small-devices) and (max-width: $small-devices)
            width: 480px
            max-width: calc(100% - 10px)
            margin: 10px auto!important


.logo
    margin-top: 4em
    margin-bottom: 4em
    @media (min-width: $x-small-devices) and (max-width: $small-devices)
        margin-bottom: 1em
    .icon-login
        width: 100px
        height: 100px
    .title-login
        color: white
        font-family: roboto

