<div [ngSwitch]="data.dialogType">

  <div *ngSwitchCase="'created'">
    <h3 mat-dialog-title><mat-icon>check</mat-icon>  Creada</h3>
    <div mat-dialog-content>
      <p>La receta se ha creado correctamente!</p>
    </div>
    <div mat-dialog-actions align="end">
      <button mat-button (click)="onNoClick()" cdkFocusInitial>Aceptar</button>
    </div>
  </div> <!-- End case noPrescriptions -->

  <div *ngSwitchDefault>
    <h3 mat-dialog-title><mat-icon>error</mat-icon>  Error</h3>
    <div mat-dialog-content>
      <p>{{data.text}}</p>
    </div>
    <div mat-dialog-actions align="end">
      <button mat-button (click)="onNoClick()" cdkFocusInitial>Aceptar</button>
    </div>
  </div> <!-- End default switch -->
</div>

