<div class="container">

  <mat-card>
    <form [formGroup]="prescriptionForm" (ngSubmit)="onSubmitPrescriptionForm">
      <div fxFlex="100" fxLayout="column" fxLayoutAlign="center">
        <h1>Validador de Recetas Electrónicas</h1>

        <mat-form-field appearance="fill">
          <mat-label>DNI</mat-label>
          <input matInput formControlName="dni" autocomplete="off">

          <!-- <mat-error *ngIf="dni.error? && dni.touched">
          </mat-error> -->

        </mat-form-field>


        <mat-form-field appearance="fill">
          <mat-label>Fecha de la receta</mat-label>
          <input matInput formControlName="date" autocomplete="off" type="date" [min]="today">

          <!-- <mat-error *ngIf="date.error? && date.touched"></mat-error> -->
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Matricula del profesional</mat-label>
          <input matInput formControlName="professional" autocomplete="off">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Medicamente recetado</mat-label>
          <input matInput formControlName="supply" autocomplete="off">
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">
          Varificar
        </button>
      </div>
    </form>
  </mat-card>

</div>
