<div class="container">
  <mat-card>
    <form [formGroup]="prescriptionForm" (ngSubmit)="onSubmitPrescriptionForm">
      <div fxFlex="100" fxLayout="column" fxLayoutAlign="center">
        <h1>Dispensar prescripción</h1>

        <!-- Dni del paciente -->
        <mat-form-field appearance="fill">
          <mat-label>DNI paciente</mat-label>
          <input type="text"
            cdkFocusInitial
            placeholder="DNI"
            aria-label="Number"
            matInput
            maxlength="8"
            formControlName="patient_dni"
            [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option (onSelectionChange)="searchPrescriptions(patient)" *ngIf="patient" [value]="patient.dni">
              {{patient.lastName}} {{patient.firstName}} DNI {{patient.dni}}
            </mat-option>
          </mat-autocomplete>
          <mat-hint align="end">{{patient_dni.value.length}} / 8</mat-hint>
          <mat-error *ngIf="patient_dni.errors?.required && patient_dni.touched">
            Debe ingresar el dni del paciente
          </mat-error>

          <mat-error *ngIf="patient_dni.errors?.minlength && patient_dni.touched">
            Debe ingresar 8 digitos
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Fecha receta</mat-label>
          <input matInput [matDatepicker]="picker1" [formControl]="date">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">
          Validar
        </button>
      </div>
    </form>
  </mat-card>

</div>
