<div class="container" fxLayout="row" fxLayoutAlign="space-evenly start">
  <mat-card class="search-prescription">
    <form [formGroup]="prescriptionForm">
      <div fxFlex="100" fxLayout="column" fxLayoutAlign="start">
        <h1><mat-icon >search</mat-icon> Buscar prescripción</h1>

        <!-- Dni del paciente -->
        <mat-form-field appearance="fill">
          <mat-label>DNI paciente</mat-label>
          <input type="text"
            cdkFocusInitial
            placeholder="DNI"
            aria-label="Number"
            matInput
            maxlength="8"
            formControlName="patient_dni"
            [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option (onSelectionChange)="searchPrescriptions(patient)" *ngIf="patient" [value]="patient.dni">
              {{patient.lastName}} {{patient.firstName}} DNI {{patient.dni}}
            </mat-option>
          </mat-autocomplete>
          <mat-hint align="end">{{patient_dni.value.length}} / 8</mat-hint>
          <mat-error *ngIf="patient_dni.errors?.required && patient_dni.touched">
            Debe ingresar el dni del paciente
          </mat-error>

          <mat-error *ngIf="patient_dni.errors?.minlength && patient_dni.touched">
            Debe ingresar 8 digitos
          </mat-error>
        </mat-form-field>

        <!-- Fecha de receta -->
        <mat-form-field appearance="fill">
          <mat-label>Fecha receta</mat-label>
          <input matInput [matDatepicker]="picker1" [formControl]="dateFilter" ng->
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
      </div>
    </form>
  </mat-card>

  <app-prescription-list [prescriptions]="prescriptions"></app-prescription-list>

  <mat-card class="insurances">
    <div fxFlex="100" fxLayout="column" fxLayoutAlign="start">
      <h1>
        <mat-icon>policy</mat-icon>
        Obras sociales
      </h1>
      <table mat-table *ngIf="insurances" [dataSource]="insurances" class="mat-elevation-z8">

        <!-- Position Column -->
        <ng-container matColumnDef="codigoPuco">
          <th mat-header-cell *matHeaderCellDef> Código </th>
          <td mat-cell *matCellDef="let insurnace"> {{insurnace.codigoPuco}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="financiador">
          <th mat-header-cell *matHeaderCellDef> Financiador </th>
          <td mat-cell *matCellDef="let insurnace"> {{insurnace.financiador}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedInsColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedInsColumns;"></tr>
      </table>
    </div>
  </mat-card>
</div>
