.container
  width: 80%
  margin: 30px auto 0px

.mat-form-field, button
  margin: 10px 0

.prescriptions
  width: 52%
  margin: 30px auto 0px 30px

.insurances
  width: 27%
  margin: 30px auto 0px 30px

.search-prescription
  width: 20%